@media (width < 768px) {

  .carousel-inner{
    height: 100%;
    width: 100%;  
  }
  .landing-page{
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items:center;
  }
  .container{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
  }
  .church_name_box .fgc{
    display: flex;
    flex-direction: column;
    font-size: 30px ; 
  }
  .fgc{
    line-height: 45px;
    letter-spacing: 2px;
  }
  .zone-name{
    display: none;
  }
  .slogan_box{
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .slogan_box h4{ 
    font-size: 20px;
    line-height: 30px;
  }
  .hebrews{
    display: none;
  }
  .alternate-zonename {
    visibility: visible;

  }
  .js_date{
    font-size: 18px;
  }

  /*START THE THEME FOR THE YEAR  */
  #themes{
    display: block;
    background-color: grey;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.theme-year{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;   
}

.theme-year img{
  position: relative;
  width: 80%;
  height: 100%;
}
.theme-month{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;
  margin: 0 auto;
}
.theme-month h1{
  font-size:45px;
  letter-spacing:3px;
}
.theme-month h2{
  font-size: 20px;
}
.theme-month marquee{
  font-size: 12px;
  text-align: center;
  height: 150px;
  width: 90%;
}
/* END THE THEME FOR THE YEAR */

/* MEDIA BEGINS FROM HERE */
#media{
  width: 100vw;
  height: 200vh;
}
#overalldrop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#pastor-desk{
  width: 100%;
  height: 115vh;  
}
#pastor-desk h1,h3{
  font-weight: bold;
}
#pastor-desk img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-left:.5rem;
    shape-outside:circle();
    float: left;
    margin-right:1.5rem;
}
#pastor-desk .msg{
  font-size: 13px;
}

#live-stream{
  width: 100%;
  height: 60vh;
}
#live-stream h1{
  font-size: 20px;
}
#live-stream p{
  font-size: 10px;
}
#live-stream .btn{
  width: 230px;
  height: 40px;
  font-size: 12px;
}

#weekActs{
    padding-top: 10%;
    width: 100%;
    height: 60vh;
}

#weekActs h1{ 
    font-size: 20px;
}

#weekActs h3{
    font-size: 15px;
}
#weekActs h5{
    font-size: 12px;
   
}
#weekActs p{
    font-size:10px;
    font-weight: bolder;
    text-align: center;
}


  #gallery {
    height: auto; /* Adjust height to fit smaller viewport */
    width: 100vw;
    padding-top: 20px; 
  }

  .gallery-container {
    flex-direction: row; /* Switch back to horizontal layout */
    flex-wrap: wrap; /* Allow images to wrap onto multiple rows */
    align-items: center;
    width: 100%;
    height: auto;
  }

  .gallery-item {
    width: 40%; /* Set width to 50% to create two-column layout */
    /* height: 120px; */
    /* margin-bottom: 10px; Add spacing between images */
  }

  .gallery-item img {
    /* height: 150px; Adjust image height as needed */
  }

  .lightbox img {
    max-width: 80%; /* Slightly reduce image size in lightbox */
  }



/* LOCATION AND MAP  */
#contact-us{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
.contact-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;

}
.contact-msg p{
  font-size: 13px;
}
.Location-WriteUs{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
    
    .map iframe{
        width: 100%;
        height: 130px;
        margin-bottom: 20px;
    }

    .lets_talk{
        display: grid;
        justify-content: center;
        width: 90%;
        height: 65vh;
        margin-left: 45px;
       
    }
    /* .message_me{
        font-size: 25px;
        letter-spacing: 2px;
    } */
 
    form input{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 300px;
        height: 30px;
        border-radius: 3px;
        border: none;
        font-size: 10px;
        padding-left: 15px;
     
    }
    
    textarea{
        width: 300px;
        height: 30vh;
        border-radius: 3px;
        font-size: 12px;
        padding-left: 5px;
    }
    
    
    .submit{
        display: flex;
        align-items: center;
        width: 300px;
        height: 30px;
        font-size: 12px;
    }




/* FOOTER2 BEGINS HERE  */
footer{
  display: none;
}
.footer2{
  visibility: visible;
  display: grid;
  width: 100%;
  height: 70vh;
  background-color: #454545;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}
.quick-links2 a{
  text-decoration: none;
  color: white;
}

.follow-us2 a{
  text-decoration: none;
  color: white;
}

.address2 a{
  text-decoration: none;
  color: white;
}
.copyright2 a{
  text-decoration: none;
  color: white;
}


.tags{
   text-shadow:5px 5px 3px black;
   animation:ayo 2s ease 1s infinite;  
}

@keyframes ayo{

   0%{
      transform:rotateX(-45deg);
  }
   50%{
      transform:rotateY(45deg);
  }
}
}