@media (width < 768px) {
  .carousel-inner{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-page{
    width: 100%;
    height: 100%;
  }
  .container{
    display: block;
    flex-direction: row;
    margin: 30px;
  }
  .church_name_box .fgc{
    display: flex;
    flex-direction: column;
    font-size: 30px ; 
  }
  .fgc{
    line-height: 30px;
    letter-spacing: 2px;
  }
  /* .church_name_box zone */
  .zone-name{
    display: none;
    /* font-size: 20px; */
  }
  .slogan_box{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .slogan_box h4{ 
    font-size: 25px ;
    line-height: 20px;
    letter-spacing: 2px;
  }
  .alternate-zonename{
    display: visible;
  }
  .alternate-zonename h3{
    display: flex;
    visibility: visible;
    color: blue;

  }
  .heb{
    display: visible;
  }
  .hebrews{
    font-size: 18px;
  }
  .activities{
    display: visible;
  }
  .js_date{
    font-size: 18px;
  }

  /*START THE THEME FOR THE YEAR  */
  #themes{
    display: block;
    /* flex-direction: row; */
    background-color: grey;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}
.theme-year{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;   
}

.theme-year img{
  position: relative;
  width: 80%;
  height: 300px;
}
.theme-month{
  width: 80%;
  height: 300px;
  font-size: 35px;
  font-weight: bold;
  word-spacing: 20px;
}
.theme-month h2{
  font-size: 12px;
}
.theme-month marquee{
  font-size: 12px;
  height: 80px;
  width: 100px;
}
/* END THE THEME FOR THE YEAR */

}